
<div class="container search-page">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 mt-5">
        <div>
          <form (ngSubmit)="searchGithubUserRepositories()" id="search-form" #searchTerm="ngForm">
            <input type="text" class="form-control search" ngModel name="search"
              placeholder="Enter name" required #search="ngModel">
            <p class="text-danger error-block" *ngIf="!search.valid && search.touched"><small>Fill in field!</small></p>
            <div class="d-grid mt-2">
              <button type="submit" class="btn btn-sm btn-search" [disabled]="!searchTerm.valid"><i class="fa fa-search m-3"></i>
                Search Repositories
              </button>
            </div>
          </form>
        </div>
  
      </div>
      <div class="col-md-4"></div>
    </div>
  <div class="row my-repository mt-5" *ngIf="showRepos">
      <div class="col-md-12 text-center m-2">
        <h2 class="text-underline">Repositories Found for: {{ searchText }}</h2>
      </div>
      <div class="col-md-3" *ngFor="let repo of userRepos; let i = index">
        <div class="card text-center m-4">
          <div class="card-body">
            <div class="card-title">
              <h3><a href="{{ repo.html_url }}" target="_blank" class="card-link color-primary"> {{ repo.name|titlecase}} </a></h3>
            </div>
            <p class="card-text">{{ repo.description ? (repo.description) : 'Repository description could not be found.'}}</p>
            <p class="card-text">Created on:  <span>{{repo.created_at | date  }}</span></p>
            <p class="card-text">Languages: <span>{{ repo.language ? (repo.language) : 'No language found...'}}</span></p>
            <p class="card-text"><i class="fa fa-code-fork"></i> Forks: <span>{{ repo.forks ? (repo.forks) : 'Nill...'}}</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body text-center" *ngIf="!showRepos && repoNotFound">
          <div class="alert alert-danger" role="alert">The Repo could not be found!Try another name.</div>
    </div>
  </div>


