<div class="container d-flex align-items-center justify-content-center">
    <footer>
      <div class="p-2 m-auto"> 
        <div class="copyright">
          <p>copyright &#169; 2022 Esther Anyona</p>         
        </div> 
        <div class="row">     
          <div class="col">
          <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
          </div>
          <div class="col">
            <a href="#" target="_blank"><i class="fa fa-envelope"></i></a>
          </div>
          <div class="col">
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
          </div>
          <div class="col">
            <a href="#" target="_blank"><i class="fa fa-skype"></i></a>
          </div>
          <div class="col">
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="col">
            <a href="#" target="_blank"><i class="fa fa-phone"></i></a>
          </div>
          <div class="col">
            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
          </div>
        </div> 
      </div>                 
    </footer>
</div>

