<div class="container">
    <div class="row">
      <div class="col-md-6 mt-5">
        <div>
          <form (ngSubmit)="getUserProfile()" id="search-form" #searchTerm="ngForm">
            <input type="text" class="form-control search" ngModel name="search"
              placeholder="Enter name" required #search="ngModel">
              <div [hidden]="search.valid || search.pristine || search.untouched" class="alert alert-danger">
                <small>Input cannot be empty</small>
              </div>
            <div class="d-grid mt-2">
              <button type="submit" class="btn btn-sm  btn-search" [disabled]="!searchTerm.valid"><i class="fa fa-search m-3"></i>
                Search User 
              </button>
            </div>
          </form>
        </div> 
      </div>
    </div>
    <div class="row" *ngIf="showUserDetails">
      <div class="col-md-10 col-lg-12 col-sm-4 mt-4">
        <div class="card">      
          <div class="card-body">
              <div class="card-title">
                  <h3><a href="{{userDetails.html_url}}" target="_blank">{{userDetails.login|titlecase}}</a></h3> 
              </div>
              <img src={{userDetails.avatar_url}} alt={{userDetails.name}}>
              <p><span>Name:  </span>{{userDetails.name? (userDetails.name) : 'Name could not be found.....'}}</p>
              <p><span>Profile Info:  </span>{{ userDetails.bio ? (userDetails.bio) : 'Details could not be found.....'}}</p>
              <p><span>Physical Address:    </span>{{userDetails.location? (userDetails.location) : 'No address given.....'}}</p>
              <p><span>html_url:  </span><a href="{{userDetails.html_url}}" target="_blank">{{userDetails.html_url}}</a></p>
              <p><span>Public repos:  </span>{{userDetails.public_repos}}</p>
              <p><span>Created:   </span>{{userDetails.created_at|date}}</p>
  
              <div class="card-footer">
              <i class="fa fa-users" aria-hidden="true">
                  <span>      Followers:  </span>{{userDetails.followers}}
                  <span>      Following: </span>{{userDetails.following}}
              </i>
              </div>
          </div>
      </div>    
      </div>
    </div>
    <div class="card" *ngIf="!showUserDetails && userNotFound">
          <div class="alert alert-danger" role="alert">The GitHub user could not be found! Try another name.</div>
    </div>
  </div>















