<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand"> <img src="../../assets/avatar_github.png" height="50" width="50"> <b>GitHub Search</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" navbar-nav me-auto mb-2 mb-lg-0 collapse navbar-collapse" id="">
            <a class=" nav-item nav-link active" aria-current="page" href="#" routerLink="form">Home</a>
            <a class=" nav-item nav-link" href="#" routerLink="/users">Users</a>
            <a class=" nav-item nav-link" href="#" routerLink="/repos">Repositories</a>
        </div>
    </nav>

    <form #searchForm='ngForm' (ngSubmit)="submitSearch()">
        <div class="row mt-4">
            <div class=" form-group col-md-6">
                <input type="text" placeholder="Enter search details" class="form-control" id="username" [(ngModel)]='newUser.name' name='name' required #username="ngModel">
                <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                    <p>Input cannot be empty</p>
                </div>
            </div>
            <div class=" form-group col-md-6">
                <button class="btn btn-primary">Search</button>
            </div>
        </div>     
    </form>
</div>
