
<div class="container mb-3">
    <div class="row">
      <div class="col-md-10 col-lg-12 col-sm-4 mt-4">
        <div class="card">      
          <div class="card-body">
              <div class="card-title">
                  <h3><a href="{{userData.html_url}}" target="_blank">{{userData.login}}</a></h3> 
              </div>
              <img src={{userData.avatar_url}} alt={{userData.name}}>
              <p><span>Name:  </span>{{userData.name}}</p>
              <p><span>Location:    </span>{{userData.location}}</p>
              <p><span>Profile:  </span><a href="{{userData.html_url}}" target="_blank">{{userData.html_url}}</a></p>
              <p><span>Public repos:  </span>{{userData.public_repos}}</p>
              <p><span><i class="fa fa-calendar"></i> Created:   </span>{{userData.created_at|duration}} days ago</p> 
            <div class="card-footer">
              <i class="fa fa-users" aria-hidden="true">
                  <span>      Followers:  </span>{{userData.followers}}
                  <span>      Following: </span>{{userData.following}}
              </i>
            </div>
          </div>
      </div>      
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <h2 >My repositories</h2>
      </div>
      <div class="col-md-3" *ngFor="let repository of userRepos; let i = index">
        <div class="card">
          <div class="card-body text-center">
            <h5><a href="{{ repository.html_url }}" target="_blank">{{ repository.name|titlecase}}</a> </h5>
            <p class="card-text mt-2">{{ repository.description ? (repository.description) : 'No repository description'}} ...</p>
          </div>
          <div class="card-body text-center">
            <p class="card-text"><strong>Created: <span>{{
                  repository.created_at |duration }} days ago</span></strong> </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  


